body {
  background-color: black;
}

#app {
  font-family: 'Orbitron';
  color: aqua;
}

#header {
  display: flex;
  color: red;
}

#name {
  width: 50%;
}

#date {
  text-align: right;
  width: 50%;
}

/* ****** ALARM FORM ***** */

#alert {
  color: lawngreen
}


#clock {
  text-align: center;
  height: 200px;
  width: 100%;
}

#time {
  /* text-align: center; */
  /* vertical-align: middle; */
  font-size: 100px;
}

#alarmSelector {
  display: inline-block;
  /* text-align: center; */
}

form {
  text-align: center;
}

#instruction {
  text-align: center;
}

#alarms {
  text-align: center;
  margin: 65px;
}
