body {
  background-color: black;
}

#app {
  font-family: 'Orbitron';
  color: aqua;
}

#header {
  display: flex;
  color: red;
}

#name {
  width: 50%;
}

#date {
  text-align: right;
  width: 50%;
}

/* ****** ALARM FORM ***** */

#alert {
  color: lawngreen
}
